*,
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.screen {
    background-color: rgb(42, 42, 42);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;     
    height: 10px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: "green";
  }

  section.battle {
    position: relative;
    width: 100%;
    height: 50rem;
    width: 80rem;
    margin-inline: auto;
}

section.battle .arena {
    height: 85%;
    background-image: url(../img/arena.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

}

/* POKEMOLLE */

section.battle .arena .pokemolle {
    position: absolute;
    bottom: 16%;
    margin-left: 15%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

section.battle .arena .pokemolle .pokemolle__photo {
    width: 15rem;
    height: 15rem;
}

section.battle .arena .pokemolle .pokemolle__photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right bottom;
}

section.battle .arena .pokemolle__info {
    background-color: #fff;
    padding: 1rem;
    padding: 1rem;
    width: 50%;
    margin-bottom: 6%;
    position: relative;
}

section.battle .arena .pokemolle__info .pokemolle__info-name {
    display: flex;
    align-items: baseline;
    width: 90%;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

section.battle .arena .pokemolle__info .pokemolle__info-name h2 {
    font-weight: 900;
    margin: 0;
    font-size: 2.5rem;
}

section.battle .arena .pokemolle__info .pokemolle__info-life {
    text-align: right;
}

section.battle .arena .pokemolle__info .pokemolle__info-life progress {
    width: 50%;
}

section.battle .arena .pokemolle__info .pokemolle__info-life p {
    font-size: 1.5rem;
    font-weight: 900;
}

section.battle .arena .pokemolle__info progress.exp {
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: -6px;
    left: 0;
    background-color: #cecece;
}


section.battle .arena .pokemolle__info > div.exp {
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: -6px;
    left: 0;
    background-color: #cecece;
}

section.battle .arena .pokemolle__info > div.exp span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(0, 195, 255);
    transition: all .4s ease;
}

/* ENNEMOLLE */
section.battle .arena .ennemolle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 6%;
    margin-right: 10%;
}

section.battle .arena .ennemolle .ennemolle__photo {
    order: 2;
    position: absolute;
    right: 15%;
    bottom: 44%;
    width: 15rem;
    height: 15rem;
    transition: opacity .4s ease, transform .6s ease;
}

section.battle .arena .ennemolle .ennemolle__photo.ko {
    transform: translateY(100%);
    opacity: 0;
}

section.battle .arena .ennemolle .ennemolle__photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right bottom;
}

section.battle .arena .ennemolle .pokemolle__info {
    width: 40%;
    margin-bottom: 0;
}


section.battle .menu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background-color: #cecece;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

section.battle .menu div {
    flex: 1;
}

section.battle .menu .menu__message {
    background-color: white;
    font-size: 2rem;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    font-weight: 900;
}

section.battle .menu .menu__message span {
    text-transform: uppercase;
}

section.battle .menu .menu__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

section.battle .menu .menu__attacks {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}


section.battle .menu *[class^="menu__"] button.btn {
    border: 4px solid #2E312E;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

section.battle .menu .menu__attacks button.btn {
    width: calc(50% - .5rem);
    font-size: 1.4rem;
    border: 2px solid #2E312E;
}

section.battle .menu .menu__actions button.btn__attack {
    background-color: #AF4045;
}

section.battle .menu .menu__actions button.btn__soin {
    background-color: #E0972B;
}


section.battle .menu .menu__attacks button.btn__base {
    background-color: #777a77;
}

section.battle .menu .menu__attacks button.btn__Feu {
    background-color: #bc2a10;
}

section.battle .menu .menu__attacks button.btn__Eau {
    background-color: #004ce3;
}

section.battle .menu .menu__attacks button.btn__Plante {
    background-color: #05691b;
}

section.battle .menu .menu__attacks button.btn__back {
    background-color: #000;
}

/* LOOSE SCREEN */
section.gameOver {
    width: 100%;
    height: 50rem;
    width: 80rem;
    margin-inline: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.gameOver h1 {
    font-size: 3rem;
    margin: 4rem 0 2rem;
}